<!DOCTYPE html>

<html lang="zh-tw">

    <head>

        <meta content="text/html; charset=utf-8" http-equiv="content-type">

        <title>FTX {{ coin }} 費率實時更新表</title>

        <link rel="icon" href="{{ url_for('static', filename='img/alpaca_logo.ico') }}">

        <meta content="FTX {{ coin }} 費率實時更新表" name="FTX {{ coin }} 費率實時更新表">
        <meta content="HTML>

        <meta name="author" content="FTX {{ coin }} 費率實時更新表">

        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <div id="page">

        <h1 align="center"><br>FTX {{ coin }} 費率實時更新表</h1>

        <hr size=1></hr>

        <h3 align="left">
        一、<a href="#現價">現價</a><br>
        二、<a href="#費率">費率</a><br>
        三、<a href="#價格圖">價格圖</a><br>
        </h3>
        
        <h1 align="center" id="現價"><br>現價</h1>
  
        <hr size=1></hr>
        

        <h3 align="left">
        當前價格: {{ currentPrice }}<br>
        季度價格: {{ quarterPrice }}<br>
        溢價價格: {{ premiumPrice }}<br>
        溢價比率: {{ premiumPriceRate }} %<br>

        <h1 align="center" id="費率"><br>費率</h1>
        
        <hr size=1></hr>

        <h3 align="left">
        當前費率: {{ nextFundingRate }} % <br>
        上期費率: {{ lastFundingRate }} % <br>


        <h1 align="center" id="價格圖"><br>價格圖</h1>

        <hr size=1></hr>
        <img src="static/img/{{ coin }}.png">
        </div>
    
    </body>

</html>